<h1>Interviews: <%= @user.name %></h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="text-center">Start time</th>
      <th scope="col" class="text-center">Status</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @interviews.each do |interview| %>
      <tr>
        <th scope="row" class="text-center"><%= l(interview.start_time.in_time_zone, format: :long) %></th>
        <td class="text-center"><%= interview.status %></td>
        <td class="text-center">
          <%= link_to 'Edit', edit_user_interview_path(@user, interview),
            class: "btn btn-primary" %>
        </td>
        <td class="text-center">
          <%= link_to 'Destroy', user_interview_path(@user, interview), method: :delete,
            data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'New Interview', new_user_interview_path, class: "btn btn-primary" %>
