<h1><%= t("interviews.list") %>: <%= t("helpers.show_name", :name => @user.name) %></h1>

<%# ログイン中の面接一覧かどうかで表示を変更 %>
<% if @user.id == current_user.id %>
  <%= render 'myself' %>
<% else %>
  <%= render 'other' %>
<% end %>

<hr>

<%= link_to t("page.move.back"), :back %>
