<p>
  <strong><%= Interview.human_attribute_name("user") %>:</strong>
  <%= @interview.user.name %>
</p>

<p>
  <strong><%= Interview.human_attribute_name("start_time") %>:</strong>
  <%= l(@interview.start_time.in_time_zone, format: :long) %>
</p>

<p>
  <strong><%= Interview.human_attribute_name("status") %>:</strong>
  <%= @interview.status_i18n %>
</p>

<%= link_to t("page.move.edit"),
  # ログインユーザーと面接ユーザーが同じなら面接日時変更ページ、違うなら面接日程承認ページへ
  my_interview? ? edit_user_interview_path : user_interviews_path,
  class: "btn btn-link" %>
|
<%= link_to t("page.move.back"), :back, class: "btn btn-link" %>
