<p>
  <strong>User:</strong>
  <%= @interview.user.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @interview.start_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @interview.status %>
</p>

<%= link_to 'Edit', edit_user_interview_path, class: "btn btn-link" %> |
<%= link_to t("page.move.back"), :back, class: "btn btn-link" %>
